.cards{
  width: 96%;
  height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.cards span{
  padding-bottom: 20px;
  font-size: 28px;
  color: #555555;
  font-weight: bold;
}