.errors{
  color: red;
  text-shadow: 3px 5px 5px red;
  text-align: center;
  background-color: white;
  padding: 5px;
  font-size: 18px;
  font-family: monospace;
}

.block{
  display: block;

}

.none{
  display: none;
}